/*Button*/

.button {
    display: inline-block;
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    color: #fff;    
}

.button-primary {
    background-color: #0081ff;
}

.button-secondary{
    background-color: #29b54a;
    border-radius: 5px;
}

.button-wrapper-right {
    text-align: right;
}