.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.vermelho{
  color: red;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.general {
  background-color: #61748f;
  min-height: 100vh;
}

.tirar-do-header{
  padding-top: 150px;
}

.header{
  width: 100%;
  padding: 15px;
  background: steelblue;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-sizing: border-box;
  
}

.nome-pagina{
  display: inline;
  float: inline-start;
}

.nav-container{
  display: flex;
  position: sticky;
}

.nav{
  
  background-color: rgba(70, 131, 180, 0.61);
  height: 100vw;
  padding-right: 250px;
  padding-top: 10%;
  list-style-type: none;
}

.botao{
  margin: 15px;
  min-width: 160px;
}

.background-login{
  background-color: salmon;
}

.background-salmon{
  background-color: salmon;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
