.ambiente-carta{
    display: flex;
    background-color: rgb(247, 94, 6);
    height: 100%;
    justify-content: center;
}

.ambiente-deck{
    display: flex;
    background-color: rgb(29, 221, 221);
    height: 100%;
    justify-content: center;
}

@media (min-width: 1030px) {
    .ambiente-carta{
        justify-content: flex-end;
    }

    .ambiente-deck{
        justify-content: flex-start;
    }
}