/* Reset */

body,
ul {
    margin: 0;
}

body,
input,
textarea {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    color: #666;
}

ul {
    padding: 0;
    list-style: none;
}
