body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dados-usuario{
  width: 20%;
  text-align: center;
  margin: 0 auto;
  background-color: deepskyblue;
}

.text-align{
  text-align: center;
}

.background-login{
  background-color: steelblue;
}

.margin-20{
  margin: 20px;
}

.margin-left-20{
  margin-left: 20px;
}

.margin-left-50{
  margin-left: 50px;
}

.float-right {
  float: right;
}

.display-block{
  display: block;
}
